services:
  api:
    build:
      context: "."
    container_name: "restaurant_api"
    environment:
      - "ConnectionStrings__PostgreSQL=Host=db;Port=5432;Username=postgres;Password=yqP6yVoaQKprj3zSA0E3ZA;Database=restaurant;"
      - "ASPNETCORE_ENVIRONMENT=Development"
    ports:
      - "8080:8080"
    depends_on:
      - "db"
  db:
    image: "postgres:16.4"
    container_name: "restaurant_db"
    environment:
      - "POSTGRES_DB=restaurant"
      - "POSTGRES_PASSWORD=yqP6yVoaQKprj3zSA0E3ZA"
    volumes:
      - data:/var/lib/postgresql/data
      - "./Restaurant.API/init.sql:/docker-entrypoint-initdb.d/init.sql:ro"
    ports:
      - "5432:5432"

volumes:
  data:
