@using Restaurant.API.Mail.Templates.Models;

@model EmailVerificationModel;

<div>
    <h5>Dear, <b>@Model.UserName</b> please verify your email address</h5>
    <h5>Your verification code: <b>@Model.OtpCode</b></h5>
</div>